@font-face {
    font-family: 'Disney';
    src: url(fonts/waltograph42.otf);
}

@font-face {
    font-family: 'Disney-Tag';
    src: url("fonts/Mouse Tags.ttf");
}

* {}

html, body {
    margin: 0;
    padding: 0;
    line-height: 1.1;
    color: #9c48bf;
    background-color: #EEF0F3;
}

a {
    color: inherit;
}

a:hover {
    color: blue;
}

.hero {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero.hero--main {
    background-image: url("pictures/homepage.jpg");
}

#navigation {
    margin-top: -1em;
    font-size: 30px;
}

#navigation ul {
    padding: 0px;
}

#navigation ul li {
    margin-top: 1em;
}

@media screen and (min-width: 768px) {
    #navigation, #navigation ul li {
        margin-top: auto;
    }
}

header {
    text-align: justify;
}

.banners {
    display: block;
    margin: 0 auto;
}

.mainheader {
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
    font-family: 'Disney';
}

ul {
    text-align: center;
}

ul li {
    padding: 0px 20px 0px 20px;
    display: inline-block;
    font-family: 'Disney';
}

.comingsoon {
    display: none;
}

hr {
    border-color: #9c48bf;
    border-width: medium;
    border-style: double;
}

.plane {
    height: 10em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.plane.plane--main {
    background-image: url("pictures/airplane.jpg");
}

.magic {
    height: 10em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.magic.magic--main {
    background-image: url("pictures/magic.jpg");
}

.epcot {
    height: 10em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.epcot.epcot--main {
    background-image: url("pictures/epcot.jpg");
}

.islands {
    height: 10em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.islands.islands--main {
    background-image: url("pictures/islands.jpg");
}

.studios {
    height: 10em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.studios.studios--main {
    background-image: url("pictures/studios.jpg");
}

.hollywood {
    height: 10em;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.hollywood.hollywood--main {
    background-image: url("pictures/hollywood.jpg");
}

.kingdom {
    height: 10em;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.kingdom.kingdom--main {
    background-image: url("pictures/kingdom.jpg");
}

.typhoon {
    height: 10em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.typhoon.typhoon--main {
    background-image: url("pictures/typhoon.jpg");
}

.springs {
    height: 10em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.springs.springs--main {
    background-image: url("pictures/springs.jpg");
}

.volcano {
    height: 10em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.volcano.volcano--main {
    background-image: url("pictures/volcano.jpg");
}

.blizzard {
    height: 10em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blizzard.blizzard--main {
    background-image: url("pictures/blizzard.jpg");
}

.shops {
    height: 10em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shops.shops--main {
    background-image: url("pictures/shops.jpg");
}

table{
  margin: 0 auto;
}

h2 {
    font-size: 60px;
    font-weight: lighter;
    text-align: center;
    font-family: "Disney";
}

.flightinfo {
    text-align: center;
    font-family: "Nunito";
    padding-bottom: 20px;
}

.day {
    text-align: center;
    font-family: "Nunito";
    font-size: 15px;
}

ol {
    text-align: center;
    font-size: 20px;
    padding: 10px 0px 10px 0px;
}

ol li {
    display: inline;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

ol li a {
    font-family: 'Disney';
}

@media screen and (min-width: 768px) {
}

.parkshotel{
  font-family: 'Disney';
  text-align: center;
}

.parks{
  font-size: 60px;
  text-align: center;
  padding-bottom: 50px;
  font-family: "Disney";
  font-weight: lighter;
  }

.disneyhead{
  font-family: 'Disney';
  font-weight: lighter;
  font-size: 30px
}

.universal{
  font-family: "Balthazar", Serif;
  font-size: 60px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.universalhead{
  font-family: "Balthazar", Serif;
  font-size: 30px;
}

.footer {}

.footer ol li {
    display: block;
}

.footer ol li+li {
    margin-top: 1em;
}

@media screen and (min-width: 768px) {
    .footer ol li {
        display: inline-block;
    }
    .footer ol li+li {
        margin-top: auto;
    }
}

.UniversalStudios {
    font-family: "Balthazar", Serif;
    font-size: 20px;
}

td img {
  padding-bottom: 30px;
}

.fastlist{
  padding: 0px 0px 0px 0px !important;
}

h3 {
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    font-family: "Disney";
}

h4{
  font-size: 23px;
}

.fast{
  display: block;
  font-size: 20px;
  color: black;
}

.fastyes{
  display: block;
  color: #9e00e0;
  font-size: 20px;

.dibb {
    font-family: "Nunito";
    font-size: 20px;
}

.dis {
    font-family: "Nunito";
    font-size: 20px;
}

#copyright {
    text-align: left;
}
